
.custom-modal .popup-content {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: none; /* Remove any border */
}

.custom-modal .popup-overlay {
  background: rgba(0, 0, 0, 0.5); /* Dimmed background */
}

.custom-modal .modal-content {
  max-height: 350px;
  overflow-y: auto;
}

.custom-modal .close-button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}
